# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Test/v17/workspaceFileList.bin
.vs/Test/v17/Solution.VC.db
.vs/Test/v17/ipch/AutoPCH/ea801a31451b04d1/MAIN.ipch
.vs/Test/v17/fileList.bin
.vs/Test/v17/Browse.VC.db
.vs/Test/v17/.suo
.vs/Test/v16/Solution.VC.db-wal
.vs/Test/v16/Solution.VC.db-shm
.vs/Test/v16/Solution.VC.db
.vs/Test/v16/ipch/AutoPCH/f75bb65e6e2e6bdb/MAIN.ipch
.vs/Test/v16/ipch/AutoPCH/ea801a31451b04d1/MAIN.ipch
.vs/Test/v16/ipch/AutoPCH/e83c3a0d7d783ff2/MODEL.ipch
.vs/Test/v16/ipch/AutoPCH/dee531820465ed58/MAIN.ipch
.vs/Test/v16/ipch/AutoPCH/d60015b9759c0798/GLAD.ipch
.vs/Test/v16/ipch/AutoPCH/c9b2365a717a125b/MAIN.ipch
.vs/Test/v16/ipch/AutoPCH/c67be277a6eb3ff5/MODEL.ipch
.vs/Test/v16/ipch/AutoPCH/b53247275722555b/SHADER.ipch
.vs/Test/v16/ipch/AutoPCH/b378adf4bcd7a583/CAMERA.ipch
.vs/Test/v16/ipch/AutoPCH/7ee58a1838e3961c/TEXTURE.ipch
.vs/Test/v16/ipch/AutoPCH/78bf651b0ea96a49/MAIN.ipch
.vs/Test/v16/ipch/AutoPCH/52f33e892b1cd70d/MODELINSTANCE.ipch
.vs/Test/v16/ipch/AutoPCH/4e7fe314ab87e306/MAIN.ipch
.vs/Test/v16/ipch/AutoPCH/4b94c938d0edf176/MODEL.ipch
.vs/Test/v16/ipch/AutoPCH/27ebcc9a7a50bc44/MODEL.ipch
.vs/Test/v16/ipch/AutoPCH/1cb7b89ddd94c1d7/MODEL.ipch
.vs/Test/v16/ipch/AutoPCH/182f725db15fa892/SHADER.ipch
.vs/Test/v16/ipch/AutoPCH/1730cd0446d6e7d8/CAMERA.ipch
.vs/Test/v16/ipch/AutoPCH/11d9e93e0d5f5475/MODEL.ipch
.vs/Test/v16/Browse.VC.opendb
.vs/Test/v16/Browse.VC.db-wal
.vs/Test/v16/Browse.VC.db-shm
.vs/Test/v16/Browse.VC.db
.vs/Test/v16/.suo
.vs/slnx.sqlite
.vs/OpenGLTest/v17/.suo
.vs/CMakeWorkspaceSettings.json
.vs/VSWorkspaceState.json
.vs/Test/v16/Solution.VC.db-wal
.vs/Test/v16/Solution.VC.db-shm
.vs/Test/v16/Solution.VC.db
.vs/Test/v16/ipch/AutoPCH/f75bb65e6e2e6bdb/MAIN.ipch
.vs/Test/v16/ipch/AutoPCH/ea801a31451b04d1/MAIN.ipch
.vs/Test/v16/ipch/AutoPCH/1cb7b89ddd94c1d7/MODEL.ipch
.vs/Test/v16/ipch/AutoPCH/11d9e93e0d5f5475/MODEL.ipch
.vs/Test/v16/Browse.VC.opendb
.vs/Test/v16/Browse.VC.db-wal
.vs/Test/v16/Browse.VC.db-shm
.vs/Test/v16/Browse.VC.db
.vs/Test/v16/.suo
